@font-face {
  font-family: 'devicon';
  src:
    url('fonts/devicon.ttf?zhr5vn') format('truetype'),
    url('fonts/devicon.woff?zhr5vn') format('woff'),
    url('fonts/devicon.svg?zhr5vn#devicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="devicon-"], [class*=" devicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'devicon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.devicon-amazonwebservices-plain-wordmark:before {
  content: "\e90c";
}
.devicon-azure-plain:before {
  content: "\e93a";
}
.devicon-bash-plain:before {
  content: "\e946";
}
.devicon-c-line:before {
  content: "\e971";
}
.devicon-c-plain:before {
  content: "\e998";
}
.devicon-cplusplus-plain:before {
  content: "\e99a";
}
.devicon-css3-plain:before {
  content: "\e9a1";
}
.devicon-css3-plain-wordmark:before {
  content: "\e9a2";
}
.devicon-dart-plain:before {
  content: "\e9aa";
}
.devicon-devicon-line:before {
  content: "\e9b5";
}
.devicon-devicon-plain:before {
  content: "\e9b7";
}
.devicon-digitalocean-original:before {
  content: "\e9b9";
}
.devicon-django-plain:before {
  content: "\e9bd";
}
.devicon-django-plain-wordmark:before {
  content: "\e9be";
}
.devicon-docker-plain:before {
  content: "\e9c3";
}
.devicon-googlecloud-plain:before {
  content: "\ea38";
}
.devicon-grafana-line:before {
  content: "\ea40";
}
.devicon-grafana-plain:before {
  content: "\ea42";
}
.devicon-html5-plain:before {
  content: "\ea67";
}
.devicon-java-plain:before {
  content: "\ea7f";
}
.devicon-javascript-plain:before {
  content: "\ea81";
}
.devicon-kubernetes-line:before {
  content: "\eabb";
}
.devicon-kubernetes-plain:before {
  content: "\eabd";
}
.devicon-linux-plain:before {
  content: "\eac9";
}
.devicon-mariadb-original:before {
  content: "\ead9";
}
.devicon-mysql-original:before {
  content: "\eafd";
}
.devicon-oracle-original:before {
  content: "\eb53";
}
.devicon-postgresql-plain:before {
  content: "\eb79";
}
.devicon-prometheus-line:before {
  content: "\eb85";
}
.devicon-prometheus-original:before {
  content: "\eb87";
}
.devicon-python-plain:before {
  content: "\eb9c";
}
.devicon-wasm-original:before {
  content: "\ec9d";
}