@import "tailwindcss";

@theme {
    --color-surface: #0F172A; /*Background - slate-900*/
    --color-surfaceInverted: #2e2e2e; /*Background Inverted*/
    --color-onSurface: #D1D1D1; /*Text on Background*/
    --color-surfaceContainer: #1E293B; /*Container on background - slate-800*/
    --color-primary: #ffe3f4; /*Primary Color*/
    --color-secondary: #fff0f5; /*Yada Yada...*/
    --color-tertiary: #5a4a71; 


    /*TO-DO CHANGE DEFAULT FONT*/
    /* OLD:
          fontFamily: {
        sans: ['Inter var', ...defaultTheme.fontFamily.sans],
      },
    */
}

@custom-variant dark (&:where(.dark, .dark *));


@layer base{
    .default-container {
        @apply hover:border-tertiary hover:scale-[1.025] transition rounded-xl dark:bg-surfaceContainer bg-slate-100 p-3 border-[1px] dark:border-slate-700 border-slate-300;
    }
    .title {
        @apply text-center font-bold text-3xl dark:text-slate-200;
    }
    .nav-item {
        @apply p-2 rounded-md;
    }
    .default-hover{
        @apply dark:hover:bg-surfaceContainer dark:hover:text-slate-100 hover:bg-slate-400 hover:text-slate-50;
    }
    .services-pricing {
        @apply text-tertiary font-bold inline;
    }

    h1 {
        @apply sm:text-xl
    }
    p {
        @apply sm:text-lg
    }
    input, textarea{
        @apply dark:bg-slate-500 dark:text-slate-50 resize-none rounded w-[300px] focus:outline-none focus:border-2 focus:border-slate-200
    }
    label {
        @apply font-bold text-lg
    }
}
