@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .default-container {
        @apply rounded-xl dark:bg-surfaceContainer bg-slate-100 p-3 border-[1px] dark:border-slate-700 border-slate-300;
    }
    .title {
        @apply text-center font-bold text-2xl dark:text-slate-200;
    }
    .nav-item {
        @apply p-2 rounded-md;
    }
    .default-hover{
        @apply dark:hover:bg-surfaceContainer dark:hover:text-slate-100 hover:bg-slate-400 hover:text-slate-50;
    }

    h1 {
        @apply sm:text-xl
    }
    p {
        @apply sm:text-lg
    }
}
