@import "tailwindcss";

@theme {
    --color-surface: #121212; /*Background - slate-900*/
    --color-onSurface: #D1D1D1; /*Text on Background*/
    --color-surfaceContainer: #222123; /*Container on background - slate-800*/
    --color-primary: #3a3049; /*Primary Color*/
    --color-secondary: #5a4a71; /*Yada Yada...*/
    --color-tertiary: #a59baf; 


    /*TO-DO CHANGE DEFAULT FONT*/
    /* OLD:
          fontFamily: {
        sans: ['Inter var', ...defaultTheme.fontFamily.sans],
      },
    */
}

@custom-variant dark (&:where(.dark, .dark *));


@layer base{
    .default-container {
        @apply hover:border-tertiary hover:scale-[1.025] transition rounded-xl dark:bg-surfaceContainer bg-slate-100 p-3 border-[1px] dark:border-secondary border-slate-300;
    }
    .title {
        @apply text-center font-bold text-4xl dark:text-slate-200;
    }
    .nav-item {
        @apply p-2 rounded-md;
    }
    .default-hover{
        @apply dark:hover:bg-surfaceContainer hover:bg-slate-400 hover:text-tertiary;
    }
    .ease-animation {
        @apply opacity-0 translate-y-24 transition-all duration-500 ease-out delay-25;
    }
    .links-hover {
        @apply text-secondary hover:text-primary dark:text-tertiary 
    }

    h1 {
        @apply sm:text-xl
    }
    p {
        @apply sm:text-lg
    }
    input, textarea{
        @apply dark:bg-slate-500 dark:text-slate-50 resize-none rounded w-[300px] focus:outline-none focus:border-2 focus:border-slate-200
    }
    label {
        @apply font-bold text-lg
    }
}
